<html>
    <head>
	<title>Real Time Satellite Tracking</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/style.css" type="text/css" rel="stylesheet" />
	<script src="https://code.highcharts.com/highcharts.js"></script>
    </head>
    <body>
	<h2>Real Time Satellite Tracking</h2>
        <center>
            <a href="/noise">Шум</a><br>
            <a href="/time">Время</a><br>
            <a href="/tracking">Спутники вокруг</a><br>
            <a href="/settings">Настройки</a><br>
        </center>
    </body> 
</html>
