<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<h2>Ion</h2>
    <center>
        <table>
            <tr>
                <td>PRN</td>
                <td>NORAD</td>
                <td>LINK</td>
            </tr>
            {% for pn in prn_norad %}
            <tr>
                <td>{{pn.prn}}</td>
                <td>{{pn.norad}}</td>
                <td><a href="/ion/{{pn.norad}}">/ion/{{pn.norad}}</a></td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>
