<html>
    <head>
	<title>Real Time Satellite Tracking</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/style.css" rel="stylesheet" />
	<link href="/css/leaflet.css" rel="stylesheet" />
    </head>
    <body>
	<h2>Settings</h2>
        <form action="/settings" method="post">
            <center>
                <p><b>Esp ip addr:</b></p>
                <p>
                    <input type="text" name="ip">
                </p>
                <p><input type="submit"></p>
            </center>
        </form>
    </body> 
</html>
