<html>
    <head>
	<title>Real Time Satellite Tracking</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/style.css" rel="stylesheet" />
	<link href="/leaflet/leaflet.css" rel="stylesheet" />
    </head>
    <body>
	<h2>Real Time Satellite Tracking</h2>
	<div id="map"></div>
    </body> 
    <script src="/leaflet/leaflet-src.js"></script> 
    <script src="/leaflet/leaflet-realtime.min.js"></script>
    <script src="/js/tracking.js"></script>
</html>
